.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

.wrapper {
  display: flex;
  background: white;
  padding-inline: 7.5rem;
}

.image {
  width: 100%;
  object-fit: contain;
  height: 100vh;
}
